html,body{
    margin: 0px;
    background-color: darkgreen; 
    color: white;
    
}
.titulo{
    text-align: center;
    background-color: rgb(11, 0, 0);
    color: white;
    padding:20px;
    font-size: 25px;
}
.cartas{
    width: 150px;
    left: 100px;
    position: relative;
    margin-left: -75px;
}
#computadora-cartas,#jugador-cartas{
    height:240px;
}