@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.encabezado{
    background-color: rgb(251, 137, 66);
}

.pie-de-pagina {
    text-align: center;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(62, 176, 252);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: rgb(8, 0, 0);

}
